{% extends 'shared/homebase.html' %}
{% block title %} contact us | {{ setting.title }}  {% endblock %}
{% block description %} {{ setting.description }}  {% endblock %}
{% block keyword %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'shared/sidebar.html' %} {% endblock %}
{% block content %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="active">Contact us</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                {#                <div class="col-md-4">#}
                {#                    <form id="checkout-form" class="clearfix" method="post">#}
                {#                        {% csrf_token %}#}
                {#                        <div class="section-title">#}
                {#                            <h3 class="title">Contact Form</h3>#}
                {#                        </div>#}
                {#                        {{ form.as_p }}#}
                {#                        <input type="submit" value=" SEND FORM ">#}
                {#                    </form>#}
                {#                </div>#}

                <div class="col-md-4">
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Contact Form</h3>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <form id="checkout-form" class="clearfix" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value=" SEND FORM ">
                        </form>
                    </div>
                </div>


                <div class="col-md-8">
                    <div class="shiping-methods">
                        <div class="section-title">
                            <h3 class="title">Contact Information</h3>
                        </div>
                        <div>
                            {{ setting.contact_us|safe }}
                        </div>
                    </div>

                </div>

            </div>


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    </div>
    <!-- /section -->

{% endblock %}